
# BEGIN SMUSH-WEBP
# As directivas (linhas) entre "BEGIN SMUSH-WEBP" e "END SMUSH-WEBP" são geradas
# dinamicamente e não deverão ser modificadas através de filtros do WordPress.
# Qualquer alteração às instruções entre estes marcadores será sobreposta.

# END SMUSH-WEBP